<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    TuAnimal es un Sitio Web que te permite publicar tu mascota o tu animal favorito para realizar todo el mundo las pueda ver. No importa que tipo de animal tengas o quieras mostrar, siempre encontraras un espacio para ver y mostrar tus animales.
  </p>
  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>

{{outlet}}
