<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bienvenido!</h2>
  <p>
    Esperamos que encuentres lo que estas buscando.
    <br>Revisa nuestra lista de animales publicados.
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{#each model as |animal|}}
  {{animals-listing animal=animal}}
{{/each}}
