<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>Agentes TuAnimal estará complacido en ayudarte!.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Agentes tuAnimal
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000079944">(57) 300-892311</a><br>
    <a href="mailto:agents@A007.com">agents@tuAnimal</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}
